# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.VENV/
.venv/
env/
ENV/

# Byte-compiled / optimized / DLL files
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# IDEs / editors
.vscode/
.idea/

# Environment variables
.env

# Flask instance folder
instance/
